# Import

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from typing import *
from datetime import datetime

import warnings
from warnings import simplefilter
warnings.filterwarnings("ignore")
simplefilter("ignore", category=RuntimeWarning)

# Загрузка данных

In [2]:
df = pd.read_csv("data\cian.csv")

In [3]:
df.head()

,Название,Адрес,Метро,Время до метро,Цена,Цена за квадрат,Общая площадь,Жилая площадь,Площадь кухни,Этаж,...,Тип перекрытий,Парковка,Подъезды,Отопление,Аварийность,Газоснабжение,Балкон/лоджия,Год сдачи,Дом,Отделка
0,"5-комн. квартира, 140,6 м²","Москва, ЦАО, р-н Тверской, ул. Петровка, 20/1",Трубная,5 мин.,8.200000e+07,583215.0,"140,6","81,6","15,6",5 из 5,...,Нет информации,Наземная,6.0,Центральное,Нет,Центральное,NaN,NaN,NaN,NaN
1,"Многокомнатная квартира, 190 м²","Москва, ЦАО, р-н Тверской, ул. Большая Дмитров...",Чеховская,7 мин.,8.900000e+07,468421.0,190,126,22,3 из 5,...,Нет информации,Наземная,2.0,Центральное,Нет,Центральное,NaN,NaN,NaN,NaN
2,"Многокомнатная квартира, 950 м²","Москва, ЦАО, р-н Пресненский, Гранатный пер., 8С4",Баррикадная,9 мин.,3.488667e+09,3672281.0,950,NaN,NaN,8 из 8,...,Смешанные,Подземная,2.0,Индивидуальный тепловой пункт,Нет,NaN,"1 лоджия, 1 балкон",NaN,NaN,NaN
3,"5-комн. квартира, 200 м²","Москва, ЦАО, р-н Тверской, Тверская ул., 12С7",Пушкинская,3 мин.,7.500000e+07,375000.0,200,120,20,6 из 6,...,Нет информации,Наземная,5.0,Центральное,Нет,Центральное,NaN,NaN,NaN,NaN
4,"4-комн. апартаменты, 207,9 м²","Москва, ЦАО, р-н Тверской, ул. Охотный Ряд, 2",Охотный ряд,2 мин.,4.548896e+08,2188021.0,"207,9",NaN,NaN,5 из 15,...,Нет информации,NaN,NaN,Нет информации,Нет,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(11307, 30)

# Общий анализ данных.

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11307 entries, 0 to 11306
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Название            11289 non-null  object
 1   Адрес               11289 non-null  object
 2   Метро               11286 non-null  object
 3   Время до метро      11250 non-null  object
 4   Цена                11289 non-null  float64
 5   Цена за квадрат     11289 non-null  float64
 6   Общая площадь       11289 non-null  object
 7   Жилая площадь       8656 non-null   object
 8   Площадь кухни       9305 non-null   object
 9   Этаж                11289 non-null  object
 10  Год постройки       9052 non-null   float64
 11  Тип жилья           11289 non-null  object
 12  Высота потолков     8610 non-null   object
 13  Санузел             9866 non-null   object
 14  Вид из окон         8584 non-null   object
 15  Ремонт              9164 non-null   object
 16  Строительная серия  6480 non-null   object
 17  Мусоропровод        4907 non-null   object
 18  Количество лифтов   8724 non-null   object
 19  Тип дома            9055 non-null   object
 20  Тип перекрытий      8330 non-null   object
 21  Парковка            6627 non-null   object
 22  Подъезды            7740 non-null   float64
 23  Отопление           8330 non-null   object
 24  Аварийность         8330 non-null   object
 25  Газоснабжение       3008 non-null   object
 26  Балкон/лоджия       5834 non-null   object
 27  Год сдачи           1764 non-null   float64
 28  Дом                 1140 non-null   object
 29  Отделка             1600 non-null   object
dtypes: float64(5), object(25)
memory usage: 2.6+ MB

In [6]:
print(f"Доля пропусков:\n{round(df.isna().sum() / df.shape[0] * 100, 2)}")

Доля пропусков:
Название               0.16
Адрес                  0.16
Метро                  0.19
Время до метро         0.50
Цена                   0.16
Цена за квадрат        0.16
Общая площадь          0.16
Жилая площадь         23.45
Площадь кухни         17.71
Этаж                   0.16
Год постройки         19.94
Тип жилья              0.16
Высота потолков       23.85
Санузел               12.74
Вид из окон           24.08
Ремонт                18.95
Строительная серия    42.69
Мусоропровод          56.60
Количество лифтов     22.84
Тип дома              19.92
Тип перекрытий        26.33
Парковка              41.39
Подъезды              31.55
Отопление             26.33
Аварийность           26.33
Газоснабжение         73.40
Балкон/лоджия         48.40
Год сдачи             84.40
Дом                   89.92
Отделка               85.85
dtype: float64

<br>
Посмотрю на значения признаков у которых больше 70% пропусков в данных.
<br><br>

In [7]:
isna_list = (df.isna().sum() / df.shape[0]
             > 0.7).loc[lambda x: x == True].index

In [8]:
for col in isna_list:
    print(
        f'{col} : {df[col].value_counts(normalize=True, dropna=False)*100}\n')

Газоснабжение : Газоснабжение
NaN            73.397011
Центральное    26.461484
Автономное      0.141505
Name: proportion, dtype: float64

Год сдачи : Год сдачи
NaN       84.399045
2023.0     5.156098
2024.0     4.147873
2025.0     3.121960
2026.0     1.335456
2021.0     0.548333
2022.0     0.380295
2027.0     0.362607
2019.0     0.229946
2013.0     0.123817
2020.0     0.088441
2016.0     0.070753
2017.0     0.026532
2018.0     0.008844
Name: proportion, dtype: float64

Дом : Дом
NaN        89.917750
Не сдан     7.933139
Сдан        2.149111
Name: proportion, dtype: float64

Отделка : Отделка
NaN                   85.849474
Без отделки            7.880074
Чистовая               4.315910
Предчистовая           0.769435
Неизвестно             0.468736
Черновая               0.380295
С отделкой             0.283011
Под ключ               0.035376
Чистовая с мебелью     0.017688
Name: proportion, dtype: float64

В признаке "Газоснабжение" нет значения "без газоснабжения".Пустые значения говорят об отсутствии газа в доме, либо об отсутствии информации на сайте об этом доме. Так как у нас всего 2 значения, и "автономное" попадается только в 0.1%, то решаю этот признак удалить.  <br><br>
В признаке "Год сдачи" отсутствуют значения <2013 года. Пустые значения могут как раз обозначать этот период сдачи и отсутствие информации на сайте.
Так как у нас более менее хорошо заполненный признак "год постройки" то думаю что "год сдачи" тоже можно удалить<br><br>
В признаке "Дом" большинство пропусков могут принадлежать старым домам, которые по определению давно сданы. Так как пропусков почти 90% то удалю этот признак.<br><br>
В признаке "Отделка" скорее всего пропуски также относятся к старым домам. Здесь больше значений чем в предыдущих признаках, которые могут повлиять на цену, в дальнейшем заменю пустые значения на "неизвестно".

In [9]:
drop_lst = df[['Строительная серия', 'Аварийность', 'Подъезды']]

In [10]:
for col in drop_lst:
    print(
        f'{col} : {df[col].value_counts(normalize=True, dropna=False)*100}\n')

Строительная серия : Строительная серия
NaN                      42.690369
Индивидуальный проект    34.146989
II-49                     3.458035
П-44                      2.467498
II-18                     2.343681
                           ...
II-17                     0.008844
1МГ-601-Д                 0.008844
К-7                       0.008844
II-18-02/12               0.008844
И-155МК                   0.008844
Name: proportion, Length: 67, dtype: float64

Аварийность : Аварийность
Нет    73.626957
NaN    26.328823
Да      0.044220
Name: proportion, dtype: float64

Подъезды : Подъезды
NaN      31.546829
1.0      13.690634
4.0      10.577518
3.0       8.720262
2.0       8.384187
6.0       6.022818
5.0       5.076501
8.0       3.723357
7.0       2.609003
10.0      1.972230
12.0      1.759972
9.0       1.715751
11.0      0.884408
14.0      0.663306
13.0      0.636774
15.0      0.477580
16.0      0.309543
18.0      0.265322
21.0      0.238790
17.0      0.238790
24.0      0.176882
22.0      0.168037
480.0     0.053064
19.0      0.053064
20.0      0.026532
25.0      0.008844
Name: proportion, dtype: float64

<br>
Удалю строки в которых есть пропуски в признаках: Цена, Метро. Так как цена это целевой признак, а метро так как это важный признак в котором по моему мнению не допустимо заполнение приблизительными значениями.<br> 
Так же удалю признаки [ "Строительная серия","Аварийность", "Подъезды"] так как логически они мало влияют на цену либо в них сильно преобладает одно значение и пропуски.
<br> 
<br>

In [11]:
df = df.drop(columns=["Газоснабжение", 'Год сдачи', 'Дом',
             "Строительная серия", "Аварийность", "Подъезды"]).copy()

In [12]:
df = df.drop(df["Цена"].isna().loc[lambda x: x == True].index)

In [13]:
df_clean = df.drop(df["Метро"].isna().loc[lambda x: x ==
                   True].index).reset_index(drop=True)

In [14]:
print(
    f"Доля пропусков:\n{round(df_clean.isna().sum() / df_clean.shape[0] * 100, 2)}")

Доля пропусков:
Название              0.00
Адрес                 0.00
Метро                 0.00
Время до метро        0.32
Цена                  0.00
Цена за квадрат       0.00
Общая площадь         0.00
Жилая площадь        23.30
Площадь кухни        17.56
Этаж                  0.00
Год постройки        19.80
Тип жилья             0.00
Высота потолков      23.73
Санузел              12.61
Вид из окон          23.94
Ремонт               18.81
Мусоропровод         56.52
Количество лифтов    22.73
Тип дома             19.78
Тип перекрытий       26.20
Парковка             41.28
Отопление            26.20
Балкон/лоджия        48.32
Отделка              85.84
dtype: float64

In [15]:
round(df_clean.describe(), 2)

               Цена  Цена за квадрат  Год постройки
count  1.128600e+04         11286.00        9051.00
mean   4.890737e+07        490358.41        1983.01
std    1.124839e+08        381192.21          32.82
min    1.600000e+06         73509.00        1822.00
25%    1.320000e+07        291350.00        1963.00
50%    1.950000e+07        369995.00        1980.00
75%    3.800000e+07        518519.00        2015.00
max    3.488667e+09       4998082.00        2023.00

In [16]:
df_clean.describe(include=["object", "bool"])

,Название,Адрес,Метро,Время до метро,Общая площадь,Жилая площадь,Площадь кухни,Этаж,Тип жилья,Высота потолков,...,Вид из окон,Ремонт,Мусоропровод,Количество лифтов,Тип дома,Тип перекрытий,Парковка,Отопление,Балкон/лоджия,Отделка
count,11286,11286,11286,11250,11286,8656,9304,11286,11286,8608,...,8584,9163,4907,8721,9054,8329,6627,8329,5833,1598
unique,3736,6132,296,30,2016,916,396,998,6,137,...,3,4,2,44,8,4,4,7,19,8
top,"2-комн. квартира, 45 м²","Москва, ЦАО, р-н Пресненский, 1-й Красногварде...",Арбатская,6 мин.,45,20,6,5 из 5,Вторичка,"2,64 м",...,Во двор,Косметический,Да,"1 пассажирский, 1 грузовой",Монолитный,Железобетонные,Наземная,Центральное,1 балкон,Без отделки
freq,130,33,145,914,162,239,872,236,8276,1618,...,4302,2938,3884,2657,3983,6046,3556,6832,2750,889

# Преобразование признаков.

## Жилая площадь, Площадь кухни, Общая площадь, Высота потолков.

<br>
Заменю все запятые на точки и удалю лишние пробелы.
<br>
<br>

In [17]:
def replace_comma(data: pd.DataFrame, lst: list, inplace_true: bool = False) -> pd.DataFrame:
    """
    Замена запятых на точки в столбцах и удаление лишних символов (\xa0)
    :param data: дата фрейм
    :param lst: список из названий колонок
    :param inplace_true: True - изменения сразу применятся к data, Fasle - создается новый дата фрейм
    """
    data_new = data.copy()
    data_new[lst] = data[lst].apply(lambda x: x.str.split(
        "\xa0").str[0].str.replace(",", ".").astype(float)).copy()
    if inplace_true == True:
        data = data_new.copy()
        return data
    else:
        return data_new

In [18]:
df_clean = replace_comma(df_clean, [
                         "Жилая площадь", "Площадь кухни", "Общая площадь", "Высота потолков"]).copy()

## Время до метро.

Удалю лишние символы.

In [19]:
df_clean["Время до метро"] = df_clean["Время до метро"].str.split(
    " ").str[0].copy()

## Санузел, Количество лифтов, Балкон/лоджия

Удалим тип санузлов, лифтов и балконов и оставим их количество, чтобы избавиться от большого кол-ва уникальных значений. И преобразуем признаки в числовой тип.

In [20]:
def sum_obj(obj: pd.Series) -> pd.Series:
    """
    Удаление лишней информации из значений признака и преобразование в числовой тип.
    :param obj: колонка из дата фрейма.
    """

    temp_obj_1 = pd.to_numeric(obj.str.split(
        " ", expand=True)[0], errors="coerce")
    temp_obj_2 = pd.to_numeric(obj.str.split(
        " ", expand=True)[2], errors="coerce")
    temp = pd.concat([temp_obj_1, temp_obj_2], axis=1)
    temp = temp.sum(axis=1, min_count=1).astype("Int64")
    return temp

In [21]:
df_clean[['Санузел', 'Количество лифтов', "Балкон/лоджия"]
         ] = df_clean[['Санузел', 'Количество лифтов', "Балкон/лоджия"]].apply(sum_obj)

## Этаж

Разделим этажи на 2 признака: Этаж и Этажность здания.

In [22]:
floor = df_clean["Этаж"].str.split(" из ", expand=True)

In [23]:
df_clean["Этаж"] = floor[0]

In [24]:
df_clean["Этажность здания"] = floor[1]

In [25]:
df_clean["Этаж"] = pd.to_numeric(df_clean["Этаж"], errors="coerce")

## Кол-во комнат

Добавим признак "Кол-во комнат". И так как нас интересуют квартиры с кол-вом комнат до 5 включительно для постоянного проживания, то удалим квартиры с большим кол-вом комнат и апартаменты.

In [26]:
df_clean["Кол-во комнат"] = (
    df_clean["Название"].str.split(" ", expand=True)[
        0].str.split("-", expand=True)[0]
)

In [27]:
df_clean["Кол-во комнат"].value_counts(normalize=True)

Кол-во комнат
2                 0.327397
3                 0.267234
1                 0.219210
4                 0.082049
Апартаменты       0.031189
5                 0.029506
Студия,           0.028885
Многокомнатная    0.012759
Многокомнатные    0.001772
Name: proportion, dtype: float64

In [28]:
drop_rooms = (
    df_clean["Кол-во комнат"]
    .loc[
        lambda x: (x == "Многокомнатная")
        | (x == "Многокомнатные")
        | (x == "Апартаменты")
    ]
    .index
)

In [29]:
df_clean = df_clean.drop(index=drop_rooms).copy()

In [30]:
df_clean["Кол-во комнат"][df_clean["Кол-во комнат"] == "Студия,"] = 1

In [31]:
df_clean["Год постройки"] = pd.to_numeric(
    df_clean["Год постройки"], errors="coerce")

## Тип Жилья

Уберем лишнюю информацию для снижения количества уникальных значений.

In [32]:
df_clean["Тип жилья"].value_counts()

Тип жилья
Вторичка                   8151
Новостройка                1463
Вторичка Апартаменты        860
Новостройка Апартаменты     241
Вторичка Пентхаус            30
Новостройка Пентхаус         25
Name: count, dtype: int64

In [33]:
df_clean["Тип жилья"] = df_clean["Тип жилья"].str.split(" ").str[0]

# Заполнение пропусков.

In [34]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10770 entries, 0 to 11285
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Название           10770 non-null  object
 1   Адрес              10770 non-null  object
 2   Метро              10770 non-null  object
 3   Время до метро     10741 non-null  object
 4   Цена               10770 non-null  float64
 5   Цена за квадрат    10770 non-null  float64
 6   Общая площадь      10770 non-null  float64
 7   Жилая площадь      8335 non-null   float64
 8   Площадь кухни      9011 non-null   float64
 9   Этаж               10770 non-null  int64
 10  Год постройки      8697 non-null   float64
 11  Тип жилья          10770 non-null  object
 12  Высота потолков    8260 non-null   float64
 13  Санузел            9410 non-null   Int64
 14  Вид из окон        8195 non-null   object
 15  Ремонт             8696 non-null   object
 16  Мусоропровод       4785 non-null   object
 17  Количество лифтов  8438 non-null   Int64
 18  Тип дома           8623 non-null   object
 19  Тип перекрытий     8080 non-null   object
 20  Парковка           6317 non-null   object
 21  Отопление          8080 non-null   object
 22  Балкон/лоджия      5722 non-null   Int64
 23  Отделка            1558 non-null   object
 24  Этажность здания   10770 non-null  object
 25  Кол-во комнат      10770 non-null  object
dtypes: Int64(3), float64(7), int64(1), object(15)
memory usage: 2.2+ MB

## Жилая площадь, Площадь кухни

Расчитаем медианное значение соотношения площадей жилых и кухни к общей площади и заполним ими пропуски.

In [35]:
def ar_part(data: pd.DataFrame, col: str, main_col: str):
    """
    Заполнение пропусков в зависимости от отношения площади признака от общей площади.
    :param data: датасет
    :param col: Название колонки площади необходимого признака.
    :param main_col: Название колонки общей площади.
    """
    part = round((data[col] / data[main_col]).median(), 2)
    col_new = data[col].fillna(data[main_col] * part)
    return col_new

In [36]:
for i in df_clean[['Жилая площадь', 'Площадь кухни']]:
    df_clean[i] = ar_part(df_clean, i, 'Общая площадь')

Расчитаем медианное значение соотношения площади кухни к общей площади и заполним им пропуски.

## Год постройки

Все пропуски обозначают то что дом еще не сдан, и будет сдан либо в текущем году либо в следующем. Заполню пропуски следющим годом.

In [37]:
currentYear = datetime.now().year

In [38]:
df_clean["Год постройки"] = df_clean["Год постройки"].fillna(
    currentYear + 1).astype(int)

## Санузел , Балкон/лоджия.

In [39]:
def replace_group(data: pd.DataFrame, main_col: str, col_1: str, col_2: str):
    """
    Заполнение модой через groupby.
    :param data: Дата фрейм
    :param main_col: Название колонки по которой идет группировка
    :param col_1: Название колонки в которой происходит заполнение пустых значений
    :param col_2: Название колонки в которой происходит заполнение пустых значений
    """
    for col in data[[col_1, col_2]]:
        data[col] = data[col].fillna(
            data.groupby(main_col)[col].transform(lambda x: x.mode()[0])
        )
        data[col] = data[col].astype(int)
    data_new = data.copy()
    return data_new

In [40]:
df_clean = replace_group(df_clean, 'Кол-во комнат',
                         'Санузел', 'Балкон/лоджия').copy()

## Количество лифтов

In [41]:
def replace_elev(row: pd.Series) -> int:
    """
    Заполнение пропусков в признаке кол-во лифтов в зависимости от этажности здания согласно СНиП 31-01-2003
    :param row: строка дата фрейма. 
    """

    if row["Количество лифтов"] == 0:
        floors = int(row["Этажность здания"])
        if floors < 6:
            return 0
        elif floors < 10:
            return 1
        elif floors < 20:
            return 2
        elif floors < 25:
            return 3
        else:
            return 4
    else:
        return row["Количество лифтов"]

In [42]:
df_clean["Количество лифтов"].fillna(0, inplace=True)

In [43]:
df_clean["Количество лифтов"] = df_clean["Количество лифтов"].astype(int)

In [44]:
df_clean["Этажность здания"] = df_clean["Этажность здания"].astype(int)

In [45]:
df_clean["Количество лифтов"] = df_clean.apply(
    lambda row: replace_elev(row), axis=1)

## Высота потолков.

Заполню медианным значением так как есть выбросы.

In [46]:
df_clean['Высота потолков'] = df_clean['Высота потолков'].fillna(
    df_clean['Высота потолков'].median())

## Отделка.

Здесь много пропусков, и вообще отделка больше относится к новостройкам. Но также есть и вторички, которые продают с голыми стенами, соответственно, отделка здесь уже будет играть роль. Заменю пропуски на "Неизвестно".

In [47]:
df_clean['Отделка'].value_counts()

Отделка
Без отделки           866
Чистовая              473
Предчистовая           85
Неизвестно             53
Черновая               43
С отделкой             32
Под ключ                4
Чистовая с мебелью      2
Name: count, dtype: int64

In [48]:
df_clean['Отделка'] = df_clean['Отделка'].fillna('Неизвестно')

## Другие категориальные признаки.

Заполню остальные категориальные признаки модой.

In [49]:
to_fill = df_clean[['Отопление', 'Вид из окон', 'Ремонт',
                    'Тип дома', 'Тип перекрытий', 'Парковка', 'Мусоропровод']]

In [50]:
for column in to_fill:
    df_clean[column] = df_clean[column].fillna(df_clean[column].mode()[0])

In [51]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10770 entries, 0 to 11285
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Название           10770 non-null  object
 1   Адрес              10770 non-null  object
 2   Метро              10770 non-null  object
 3   Время до метро     10741 non-null  object
 4   Цена               10770 non-null  float64
 5   Цена за квадрат    10770 non-null  float64
 6   Общая площадь      10770 non-null  float64
 7   Жилая площадь      10770 non-null  float64
 8   Площадь кухни      10770 non-null  float64
 9   Этаж               10770 non-null  int64
 10  Год постройки      10770 non-null  int32
 11  Тип жилья          10770 non-null  object
 12  Высота потолков    10770 non-null  float64
 13  Санузел            10770 non-null  int32
 14  Вид из окон        10770 non-null  object
 15  Ремонт             10770 non-null  object
 16  Мусоропровод       10770 non-null  object
 17  Количество лифтов  10770 non-null  int64
 18  Тип дома           10770 non-null  object
 19  Тип перекрытий     10770 non-null  object
 20  Парковка           10770 non-null  object
 21  Отопление          10770 non-null  object
 22  Балкон/лоджия      10770 non-null  int32
 23  Отделка            10770 non-null  object
 24  Этажность здания   10770 non-null  int32
 25  Кол-во комнат      10770 non-null  object
dtypes: float64(6), int32(4), int64(2), object(14)
memory usage: 2.1+ MB

In [52]:
df_clean.describe()

,Цена,Цена за квадрат,Общая площадь,Жилая площадь,Площадь кухни,Этаж,Год постройки,Высота потолков,Санузел,Количество лифтов,Балкон/лоджия,Этажность здания
count,1.077000e+04,1.077000e+04,10770.000000,10770.000000,10770.000000,10770.00000,10770.000000,10770.000000,10770.000000,10770.000000,10770.000000,10770.000000
mean,4.510718e+07,4.847462e+05,72.035758,42.174459,12.423137,8.24689,1991.203621,2.927214,1.353853,2.026091,1.100371,15.865645
std,8.712656e+07,3.715369e+05,50.391795,31.166966,8.646902,7.77206,32.997202,0.605261,0.675264,1.586918,0.360108,11.660513
min,2.390000e+06,7.350900e+04,11.000000,3.000000,1.000000,-1.00000,1822.000000,0.000000,1.000000,0.000000,1.000000,2.000000
25%,1.350000e+07,2.900000e+05,42.000000,22.800000,7.064350,3.00000,1968.000000,2.700000,1.000000,1.000000,1.000000,9.000000
50%,1.990000e+07,3.678160e+05,58.000000,33.400000,10.000000,6.00000,2002.000000,2.850000,1.000000,2.000000,1.000000,12.000000
75%,3.794350e+07,5.143032e+05,82.000000,49.400525,15.000000,11.00000,2022.000000,3.000000,2.000000,3.000000,1.000000,20.000000
max,1.910410e+09,4.998082e+06,705.000000,450.000000,136.500000,92.00000,2024.000000,31.000000,7.000000,28.000000,6.000000,95.000000

Удалим аномалии в данных: все отрицательные значения и значения меньше 2 в "Высота потолков".

In [53]:
df_num = df_clean.select_dtypes(include=np.number)

In [54]:
drop_neg = []
for i, j in df_num.iterrows():
    for k in j:
        if k < 0:
            drop_neg.append(i)

In [55]:
drop_neg += df_clean[df_clean['Высота потолков'] < 2].index.tolist()

In [56]:
df_fin = df_clean.drop(index=drop_neg)

In [57]:
df_fin = df_fin.reset_index(drop=True)

In [58]:
df_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10767 entries, 0 to 10766
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Название           10767 non-null  object
 1   Адрес              10767 non-null  object
 2   Метро              10767 non-null  object
 3   Время до метро     10738 non-null  object
 4   Цена               10767 non-null  float64
 5   Цена за квадрат    10767 non-null  float64
 6   Общая площадь      10767 non-null  float64
 7   Жилая площадь      10767 non-null  float64
 8   Площадь кухни      10767 non-null  float64
 9   Этаж               10767 non-null  int64
 10  Год постройки      10767 non-null  int32
 11  Тип жилья          10767 non-null  object
 12  Высота потолков    10767 non-null  float64
 13  Санузел            10767 non-null  int32
 14  Вид из окон        10767 non-null  object
 15  Ремонт             10767 non-null  object
 16  Мусоропровод       10767 non-null  object
 17  Количество лифтов  10767 non-null  int64
 18  Тип дома           10767 non-null  object
 19  Тип перекрытий     10767 non-null  object
 20  Парковка           10767 non-null  object
 21  Отопление          10767 non-null  object
 22  Балкон/лоджия      10767 non-null  int32
 23  Отделка            10767 non-null  object
 24  Этажность здания   10767 non-null  int32
 25  Кол-во комнат      10767 non-null  object
dtypes: float64(6), int32(4), int64(2), object(14)
memory usage: 2.0+ MB

Заполнены все путые значения кроме время до метро. Его заполню дальше после добавления геоданных.

In [59]:
df_fin.describe()

,Цена,Цена за квадрат,Общая площадь,Жилая площадь,Площадь кухни,Этаж,Год постройки,Высота потолков,Санузел,Количество лифтов,Балкон/лоджия,Этажность здания
count,1.076700e+04,1.076700e+04,10767.000000,10767.000000,10767.000000,10767.000000,10767.000000,10767.000000,10767.000000,10767.000000,10767.000000,10767.000000
mean,4.511170e+07,4.847918e+05,72.032823,42.171332,12.423812,8.248073,1991.220581,2.927765,1.353859,2.026470,1.100399,15.867837
std,8.713723e+07,3.715630e+05,50.396540,31.169376,8.647969,7.772449,32.983058,0.604028,0.675312,1.586957,0.360154,11.661294
min,2.390000e+06,7.350900e+04,11.000000,3.000000,1.000000,1.000000,1822.000000,2.000000,1.000000,0.000000,1.000000,2.000000
25%,1.350000e+07,2.900000e+05,42.000000,22.800000,7.058400,3.000000,1968.000000,2.700000,1.000000,1.000000,1.000000,9.000000
50%,1.990000e+07,3.678160e+05,58.000000,33.400000,10.000000,6.000000,2002.000000,2.850000,1.000000,2.000000,1.000000,12.000000
75%,3.792900e+07,5.142975e+05,82.000000,49.400000,15.000000,11.000000,2022.000000,3.000000,2.000000,3.000000,1.000000,20.000000
max,1.910410e+09,4.998082e+06,705.000000,450.000000,136.500000,92.000000,2024.000000,31.000000,7.000000,28.000000,6.000000,95.000000

In [60]:
df_fin.describe(include=['bool', 'object'])

,Название,Адрес,Метро,Время до метро,Тип жилья,Вид из окон,Ремонт,Мусоропровод,Тип дома,Тип перекрытий,Парковка,Отопление,Отделка,Кол-во комнат
count,10767,10767,10767,10738,10767,10767,10767,10767,10767,10767,10767,10767,10767,10767
unique,3418,5993,295,30,2,3,4,2,7,4,4,7,8,6
top,"2-комн. квартира, 45 м²","Москва, ЦАО, р-н Пресненский, 1-й Красногварде...",Арбатская,6,Вторичка,Во двор,Косметический,Да,Монолитный,Железобетонные,Наземная,Центральное,Неизвестно,2
freq,130,33,136,882,9038,6721,4960,9815,5960,8615,7830,9371,9262,3694

In [61]:
df_fin.to_csv("data\cian_clean.csv", index=False)